
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

table, td {
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
}


.nodeline, .lastnodeline {
  background-image: url(structure.png);
  background-size: 54px 100%;
  vertical-align: center;
  width: 9px;
} 

.nodeline {
  background-position: -9px 0px;
}

.lastnodeline {
  background-position: -18px 0px;
}


.nochildrenitem, .collapseditem, .expandeditem {
  width: 9px;
  height: 9px;    
  display: block;
  background-image: url(structure.png);
}

.nochildrenitem {
  background-position: -27px 0px;
}

.collapseditem {
  background-position: -36px 0px;
}

.expandeditem {
  background-position: -45px 0px;
}

.lastNode {
  background-image: url(structure.png);
  background-size: 54px 100%;
  background-position: -9px 0px;
}


.itemline {
  display: block;
  width: 4px;
  height: 1px;
  padding: 0px;
  background-image: url(structure.png);
  background-position: -32px -4px;
}

.itemlinecell {
  width: 4px;
  verticalAlign: center;
}

.itemicon {
  display: block;
  width: 16px;
  height: 16px;
  padding: 0px;
  background-image: url(icons.png);
}

.itemcell {
  height: 17px;
  verticalAlign: bottom;
}